@use 'sass:map';
@use '_theme.scss' as *;

$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop: 1440px;

$breakpoints: (
    'tablet-portrait': $tablet-portrait,
    'tablet-landscape': $tablet-landscape,
    'desktop': $desktop
);

@mixin responsive($size) {
    $width: map.get($breakpoints, $size);

    @media (min-width: $width) {
        @content;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 15px 0 15px;
    // padding-top: 10px;
    // padding-left: 15px;
    // padding-right: 15px;
    // width: 345px;

    @include responsive('tablet-portrait') {
        width: 100%;
        padding: 28px 28px 0 28px;
        // padding-top: 28px;
        // padding-left: 28px;
        // padding-right: 28px;
        // width: 711px;
    }

    @include responsive('tablet-landscape') {
        // padding-top: 28px;
        // max-width: 970px;
    }

    @include responsive('desktop') {
        //padding: min(38px) min(135px) 0 min(135px);
        padding-top: 38px;
        max-width: 1170px;
    }
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 22px;
    color: white;
    height: 100px;
    gap: 120px;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    @include responsive('tablet-portrait') {
        position: static;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 20px 0 20px;
    }

    .header__logo-container{
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        // max-width: 30%;
        
        gap: 20px;
        // justify-content: flex-start;

        @include responsive('tablet-portrait') {
            display: flex;
        }
    }

    .header__logo {
        width: 60%;
    }

    .header__icon {
        display: none;

        @include responsive('desktop') {
            display: block;
        }
    }
}

.burger-menu {
    width: 30px;
    height: 20px;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    cursor: pointer;

    @include responsive('tablet-portrait') {
        display: none;
    }
}

.burger-menu span {
    width: 100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}

.nav-links a {
    display: flex;
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: senter;
        background-color: $burger-color;
        position: absolute;
        z-index: 2;
        height: 100vh;
        top: 0;
        right: 0;
        width: 70%;
        padding-right: 20px;
        padding-top: 100px;
    }

    .nav-links.active {
        display: flex;
        align-items: flex-end;
    }
}

.hero {
    background: url('../images/hero_bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: $primary-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include responsive('tablet-portrait') {
        padding-top: 70px;
    }

    .content {
        .hero__app-icon {
            width: 55px;
            height: auto;
            margin-right: 200px;
            margin-bottom: 20px;

            @include responsive('tablet-portrait') {
                display: none;
            }
        }
        .hero__img {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 200px;
            width: 100%;
            background: url('../images/hero_cat.svg') center / contain no-repeat;

            @include responsive('tablet-portrait') {
                height: 380px;
            }

            @include responsive('tablet-landscape') {
                height: 420px;
            }

            @include responsive('desktop') {
                height: 487px;
            }
        }

        .hero__title {
            line-height: 1.2;
            font-size: max(18px);
            margin: 0px 0 10px 0;

            @include responsive('tablet-portrait') {
                font-size: 34px;
            }

            @include responsive('tablet-landscape') {
                font-size: 38px;
            }

            @include responsive('desktop') {
                font-size: 46px;
            }

        }

        .hero__description {
            font-size: 14px;
            width: 70%;
            margin: 0;

            @include responsive('tablet-portrait') {
                font-size: 22px;
            }

            @include responsive('desktop') {
                font-size: 28px;
            }
        }

        .hero__cta-text {
            display: flex;
            align-self: flex-end;
            font-size: 14px;
            text-align: end;

            @include responsive('tablet-portrait') {
                font-size: 22px;
            }

            @include responsive('tablet-landscape') {
                align-self: flex-start;
                font-size: 24px;
                text-align: start;
            }

            @include responsive('tablet-landscape') {
                font-size: 28px;
            }
        }

        .btn {
            display: flex;
            justify-self: flex-end;
            align-self: flex-end;
            min-height: 72px;
            min-width: 144px;

            @include responsive('tablet-landscape') {
                align-self: flex-start;
            }
        }
    }
}

.hold-interest-section {
    background: linear-gradient(0deg, $hold-interest-color-2 0%, $hold-interest-color-1 50%);
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hold-interest-section__title {
        align-self: start;
        font-size: 18px;

        @include responsive('tablet-portrait') {
            font-size: 34px;
        }

        @include responsive('tablet-landscape') {
            font-size: 48px;
        }
    }

    .hold-interest-section__row_1 {
        display: flex;
        flex-direction: row;
        align-self: flex-end;
    }

    .hold-interest-section__column_1 {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include responsive('tablet-portrait') {
            gap: 30px;
        }

        .img_apps {
            max-width: 88px;

            @include responsive('tablet-portrait') {
                max-width: none;
                width: 170px;
            }

            @include responsive('tablet-landscape') {
                width: 220px;
            }

            @include responsive('desktop') {
                width: 300px;
            }
        }

        .img_arrow {
            max-width: 42px;
            align-self: center;

            @include responsive('tablet-portrait') {
                max-width: none;
                width: 74px;
            }

            @include responsive('tablet-landscape') {
                width: 96px;
            }

            @include responsive('desktop') {
                width: 100px;
            }
        }
    }

    .hold-interest-section__row_2 {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-end;
        width: fit-content;

        .img-demonstration_1,
        .img-demonstration_2 {
            max-width: 157px;
            height: auto;

            @include responsive('tablet-portrait') {
                max-width: none;
                width: 215px;
            }

            @include responsive('tablet-landscape') {
                width: 264px;
            }

            @include responsive('desktop') {
                width: 332px;
            }
        }

        .img-demonstration_2 {
            display: none;

            @include responsive('tablet-portrait') {
                display: block;
            }
        }
    }
}

.build-trust-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 10px 0;
    background: linear-gradient(0deg, $build-trust-color-2 0%, $build-trust-color-1 50%);
    gap: 10px;

    @include responsive('tablet-portrait') {
        padding: 50px 0 50px 0;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .build-trust_img {
        width: min(100%, 157px);
        height: auto;

        @include responsive('tablet-portrait') {
            width: min(100%, 215px);
        }

        @include responsive('tablet-landscape') {
            width: min(100%, 264px);
        }

        @include responsive('desktop') {
            width: min(100%, 332px);
        }
    }

    .build-trust__column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        line-height: 1.3;
        font-size: 14px;

        @include responsive('tablet-portrait') {
            display: block;
            font-size: max(100%, 22px);
        }

        @include responsive('tablet-landscape') {
            font-size: max(100%, 28px);
        }

        @include responsive('desktop') {
            font-size: max(100%, 36px);
        }

        .build-trust__column-text-1 {
            line-height: 1.3;
        }

        .description-box {
            background-color: $text-color;
            direction: column;
            width: fit-content;
            box-sizing: border-box;
            padding: 4px 10px 4px 10px;
            border-radius: 20px;

            @include responsive('tablet-portrait') {
                padding: 6px 16px 6px 16px;
            }

            @include responsive('tablet-landscape') {
                padding: 6px 24px 6px 24px;
            }

            @include responsive('desktop') {
                padding: 6px 36px 6px 36px;
            }

            .description-box__list {
                padding-left: 20px;
                line-height: 1.3;
                align-self: start;
                align-items: start;
                color: $build-trust-color-1;
                font-family: $font-primary;
                font-weight: bold;

                @include responsive('tablet-portrait') {
                    padding-left: 30px;
                }

                @include responsive('desktop') {
                    padding-left: 40px;
                }

                .list__text {
                    font-size: min(100%, 14px);

                    @include responsive('tablet-portrait') {
                        font-size: max(100%, 22px);
                    }

                    @include responsive('tablet-landscape') {
                        font-size: max(100%, 28px);
                    }

                    @include responsive('desktop') {
                        font-size: max(100%, 36px);
                    }
                }
            }
        }

        .build-trust__column-text-2 {
            display: none;
            line-height: 1.3;

            @include responsive('tablet-portrait') {
                display: block;
            }
        }
    }

    .build-trust__bottom-text {
        padding-left: min(100%, 40px);
        padding-right: min(100%, 40px);
        font-size: min(100%, 14px);
        text-align: center;

        @include responsive('tablet-portrait') {
            display: none;
        }
    }
}

.desire-section {
    min-height: 377px;
    width: 100%;
    background: $desire-section;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 50px 0 50px;

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;

        @include responsive('tablet-portrait') {
            padding-bottom: 28px;
        }

        @include responsive('tablet-portrait') {
            padding-bottom: 38px;
        }
    }

    .desire-section__text {
        font-size: max(100%, 18px);
        justify-self: center;

        @include responsive('tablet-portrait') {
            font-size: 30px;
        }

        @include responsive('tablet-landscape') {
            font-size: 38px;
        }

        @include responsive('desktop') {
            font-size: 48px;
        }
    }

    .desire-section__game_icons {
        z-index: 1;
        width: 100%;
        position: absolute;
        display: flex;
        justify-self: center;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10%;

        @include responsive('tablet-portrait') {
            padding: 50px 0 0 0;
        }
    }

    .game-icon-1 {
        display: block;
        padding-right: 30px;
        padding-top: 50px;
        width: 30%;
        opacity: 0.5;

        @include responsive('tablet-portrait') {
            padding-right: 0;
            padding-top: 0;
            width: 150px;
        }

        @include responsive('tablet-landscape') {
            padding-right: 0;
            padding-top: 0;
            width: 200px;
        }
    }

    .game-icon-2 {
        display: none;

        @include responsive('tablet-portrait') {
            display: block;
            width: 150px;
            opacity: 0.5;
        }

        @include responsive('tablet-landscape') {
            padding-right: 0;
            padding-top: 0;
            width: 200px;
        }
    }

    .desire-section__reviews {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(10, 10%);
        grid-template-rows: repeat(10, 10%);
        align-items: center;

        #review_1 {
            z-index: 2;
            grid-column: 1/5;
            grid-row: 1/6;
        }

        #review_2 {
            z-index: 2;
            grid-column: 1/5;
            grid-row: 7/-1;
        }

        #review_3 {
            z-index: 2;
            grid-column: 6/-1;
            grid-row: 3/7;
            width: 90%;
        }

        @include responsive('tablet-portrait') {
            gap: 30px;
            display: flex;
            flex-direction: row;

            #review_1 {
                flex: 1;
                min-width: 0;
                order: 1;
                align-self: flex-start;
            }

            #review_2 {
                flex: 1;
                min-width: 0;
                order: 3;
                align-self: flex-start;
            }

            #review_3 {
                flex: 1;
                min-width: 0;
                order: 2;
                align-self: flex-end;
                padding-top: 30px;
            }
        }
    }
}

/// About us
.about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(0deg, $primary-color 0%, transparent 10%), url('../images/hero_bg.png') center / cover no-repeat;

    @include responsive('tablet-portrait') {
        padding-top: 100px;
    }
    
    .about-us__block {
        padding-bottom: 20px;
    }
    ul {
        margin: 0;
    }
    li {
        font-family: 'Ruboto Slab', sans-serif;
        font-weight: 400;
        line-height: 1.5;
        font-size: 14px;

        @include responsive('tablet-portrait') {
            font-size: 16px;
        }
    }
    h3 {
        margin: 0;
        text-shadow: none;
        font-size: 20px;

        @include responsive('tablet-portrait') {
            font-size: 24px;
        }
    }
    p {
        margin: 0;
        font-weight: 400;
        text-shadow: none;
        font-size: 14px;

        @include responsive('tablet-portrait') {
            font-size: 16px;
        }
    }
}

/// Games 
.games-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: linear-gradient(0deg, $primary-color 0%, transparent 10%), url('../images/hero_bg.png') center / cover no-repeat;

    @include responsive('tablet-portrait') {
        padding-top: 100px;
    }

    .games-block {
        display: flex;
        flex-direction: column;

        @include responsive('tablet-landscape') {
            display: grid;
            grid-template-columns: repeat(2, 2fr);
            grid-template-rows: repeat(3, 220px);
            gap: 40px;
        }
        @include responsive('desktop') {
            // display: grid;
            // grid-template-columns: repeat(2, 2fr);
            // grid-template-rows: repeat(3, 220px);
            gap: 50px;
        }
    }

    .game-card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 40px;

        .game-card__info {
            display: flex;
            direction: column;
            flex-wrap: wrap;
            align-items: center;

            @include responsive('tablet-portrait') {
                display: block;
            }
        }

        .game-card__img {
            width: 40%;

            @include responsive('tablet-landscape') {
                width: 30%;
            }
        }
    }

    #card-2, #card-4 {
        flex-direction: row-reverse;

        .game-card__info {
            justify-content: flex-end;
            .title {
                text-align: end;
            }
            .description {
                text-align: end;
            }
        }

            @include responsive('tablet-portrait') {
                flex-direction: row;

                .game-card__info {
                    justify-content: flex-start;
                .title {
                    text-align: start;
                }
                .description {
                    text-align: start;
                }
            }
        }
    }
    #card-5 {
        @include responsive('tablet-landscape') {
            justify-self: center;
            grid-column: 1 / 3;
            width: 50%;
        }
    }
    h3 {
        margin: 0;
        margin-bottom: 10px;
        text-shadow: none;
        font-size: 24px;

        @include responsive('tablet-portrait') {
            // font-size: 24px;
        }
    }
    p {
        margin: 0;
        font-weight: 500;
        text-shadow: none;
        font-size: 14px;

        @include responsive('tablet-portrait') {
            font-size: 16px;
        }
    }
}

.footer {
    height: 140px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    background: linear-gradient(0deg, rgba(103, 90, 154, 1) 50%, rgba(134, 121, 178, 1) 100%);
    gap: 20px;

    @include responsive('tablet-portrait') {
        height: 192px;
        position: static;
        align-items: center;
    }

    @include responsive('tablet-landscape') {
        height: 198px;
    }

    @include responsive('desktop') {
        height: 394px;
    }

    .btn {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }

    .balloons-img {
        height: 50%;
        width: auto;
        bottom: 0;
        right: 0;
        padding-top: 12px;
        position: absolute;
        z-index: 1;

        @include responsive('tablet-portrait') {
            align-self: flex-end;
            position: static;
            height: 154px;
        }

        @include responsive('tablet-landscape') {
            height: 176px;
        }

        @include responsive('desktop') {
            height: 216px;
        }
    }

    .footer__text {
        margin: 0;
        position: relative;
        font-size: max(100%, 24px);
        line-height: 1.6;

        @include responsive('tablet-portrait') {
            font-size: 42px;
        }

        @include responsive('tablet-landscape') {
            font-size: 54px;
        }

        @include responsive('desktop') {
            font-size: 68px;
        }
    }
}

.footer__about-us, .footer__games {
    background: none;
}
