@use '_theme.scss' as *;
@use '_layout.scss' as *;

.btn {
    max-width: 144px;
    max-height: 72px;
    width: 100%;
    height: 100%;
    background-color: $accent-color;
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 6px 10px;

    img {
        width: 100%;
        height: auto;
    }

    @include responsive('tablet-portrait') {
        // border-radius: 30px;
        max-width: none;
        max-height: none;
        width: 204px;
        height: 104px;
        padding: 12px 24px;
    }

    @include responsive('tablet-landscape') {
        width: 238px;
        height: 122px;
    }

    @include responsive('desktop') {
        width: 252px;
        height: 126px;
    }
}

.main__logo {
    display: flex;
    height: 70px;
    flex-direction: column;
    align-items: flex-start;
    align-self: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 18px;

    img {
        height: 32px;
    }

    @include responsive('tablet-portrait') {
        display: none;
    }
}