$primary-color: rgb(80, 63, 146);
$accent-color: rgb(255, 71, 87);
$burger-color: rgb(103, 76, 189);
$hold-interest-color-1: rgb(173, 162, 216);
$hold-interest-color-2: rgb(91, 81, 156);
$build-trust-color-1: rgb(91, 82, 158);
$build-trust-color-2: rgb(134, 121, 178);
$desire-section: rgb(134, 121, 178);
$footer-color-1: rgb(103, 90, 154);
$footer-color-2: rgb(134, 121, 178);
$text-color: rgb(255, 255, 255);

$font-primary: "Roboto Slab", serif;
$font-accent: "Rubik", sans-serif;