.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 15px 0 15px;
}
@media (min-width: 768px) {
  .content {
    width: 100%;
    padding: 28px 28px 0 28px;
  }
}
@media (min-width: 1440px) {
  .content {
    padding-top: 38px;
    max-width: 1170px;
  }
}

header {
  position: sticky;
  z-index: 10;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 22px;
  color: white;
  height: 100px;
  gap: 120px;
}
@media (min-width: 1440px) {
  header {
    margin-left: -40px;
    align-self: center;
    max-width: 1120px;
  }
}
@media (min-width: 768px) {
  header {
    position: static;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
  }
}
header .header__logo-container {
  display: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
}
@media (min-width: 768px) {
  header .header__logo-container {
    display: flex;
  }
}
header .header__logo {
  width: 60%;
}
header .header__icon {
  display: none;
}
@media (min-width: 1440px) {
  header .header__icon {
    display: block;
  }
}

.burger-menu {
  width: 30px;
  height: 20px;
  display: flex;
  z-index: 3;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu span {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.nav-links a {
  display: flex;
  justify-content: flex-end;
  color: white;
  text-decoration: none;
  font-size: 16px;
  text-align: end;
  font-size: 24px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: senter;
    background-color: rgb(103, 76, 189);
    position: absolute;
    z-index: 2;
    height: 100vh;
    top: 0;
    right: 0;
    width: 70%;
    padding-right: 20px;
    padding-top: 100px;
  }
  .nav-links.active {
    display: flex;
    align-items: flex-end;
  }
}
.hero {
  background: url("../images/hero_bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
  background-color: rgb(80, 63, 146);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 768px) {
  .hero {
    padding-top: 70px;
  }
}
.hero .content .hero__title {
  line-height: 1.2;
  font-size: 18px;
  margin: 0px 0 10px 0;
}
@media (min-width: 768px) {
  .hero .content .hero__title {
    font-size: 34px;
  }
}
@media (min-width: 1024px) {
  .hero .content .hero__title {
    font-size: 38px;
  }
}
@media (min-width: 1440px) {
  .hero .content .hero__title {
    font-size: 46px;
  }
}
.hero .content .hero__description {
  font-size: 14px;
  width: 70%;
  margin: 0;
}
@media (min-width: 768px) {
  .hero .content .hero__description {
    font-size: 22px;
  }
}
@media (min-width: 1440px) {
  .hero .content .hero__description {
    font-size: 28px;
  }
}
.hero .content .hero__video-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  width: 100%;
}
@media (min-width: 768px) {
  .hero .content .hero__video-container {
    height: 380px;
  }
}
@media (min-width: 1024px) {
  .hero .content .hero__video-container {
    height: 420px;
  }
}
@media (min-width: 1440px) {
  .hero .content .hero__video-container {
    height: 487px;
  }
}
.hero .content .hero__app-icon {
  z-index: 3;
  position: absolute;
  width: 55px;
  height: auto;
  margin-right: 230px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .hero .content .hero__app-icon {
    display: none;
  }
}
.hero .content .hero__video {
  z-index: 1;
  height: 200px;
  mask-image: radial-gradient(ellipse, black 30%, transparent 70%);
  -webkit-mask-image: radial-gradient(ellipse, black 30%, transparent 70%);
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
@media (min-width: 768px) {
  .hero .content .hero__video {
    height: 380px;
  }
}
@media (min-width: 1024px) {
  .hero .content .hero__video {
    height: 420px;
  }
}
@media (min-width: 1440px) {
  .hero .content .hero__video {
    height: 487px;
  }
}
.hero .content .hero__cta-text {
  display: flex;
  align-self: flex-end;
  font-size: 14px;
  text-align: end;
}
@media (min-width: 768px) {
  .hero .content .hero__cta-text {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  .hero .content .hero__cta-text {
    align-self: flex-start;
    font-size: 24px;
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .hero .content .hero__cta-text {
    font-size: 28px;
  }
}
.hero .content .hero__cta-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-end;
}
@media (min-width: 1024px) {
  .hero .content .hero__cta-container {
    align-self: flex-start;
  }
}
.hero .content .hero__cta-container .star-icon {
  height: 26px;
  width: 26px;
  position: absolute;
  z-index: 1;
  margin-top: -30px;
  margin-left: -30px;
}
@media (min-width: 768px) {
  .hero .content .hero__cta-container .star-icon {
    display: none;
  }
}
.hero .content .btn {
  z-index: 0;
  display: flex;
  justify-self: flex-end;
  align-self: flex-end;
  min-height: 72px;
  min-width: 144px;
}
@media (min-width: 1024px) {
  .hero .content .btn {
    align-self: flex-start;
  }
}

.hold-interest-section {
  background: linear-gradient(0deg, rgb(91, 81, 156) 0%, rgb(173, 162, 216) 50%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hold-interest-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hold-interest-section .hold-interest-section__title {
  align-self: start;
  font-size: 18px;
}
@media (min-width: 768px) {
  .hold-interest-section .hold-interest-section__title {
    font-size: 34px;
  }
}
@media (min-width: 1024px) {
  .hold-interest-section .hold-interest-section__title {
    font-size: 48px;
  }
}
.hold-interest-section .hold-interest-section__row_1 {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}
.hold-interest-section .hold-interest-section__column_1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 768px) {
  .hold-interest-section .hold-interest-section__column_1 {
    gap: 30px;
  }
}
.hold-interest-section .hold-interest-section__column_1 .img_apps {
  max-width: 88px;
}
@media (min-width: 768px) {
  .hold-interest-section .hold-interest-section__column_1 .img_apps {
    max-width: none;
    width: 170px;
  }
}
@media (min-width: 1024px) {
  .hold-interest-section .hold-interest-section__column_1 .img_apps {
    width: 220px;
  }
}
@media (min-width: 1440px) {
  .hold-interest-section .hold-interest-section__column_1 .img_apps {
    width: 300px;
  }
}
.hold-interest-section .hold-interest-section__column_1 .img_arrow {
  max-width: 42px;
  align-self: center;
}
@media (min-width: 768px) {
  .hold-interest-section .hold-interest-section__column_1 .img_arrow {
    max-width: none;
    width: 74px;
  }
}
@media (min-width: 1024px) {
  .hold-interest-section .hold-interest-section__column_1 .img_arrow {
    width: 96px;
  }
}
@media (min-width: 1440px) {
  .hold-interest-section .hold-interest-section__column_1 .img_arrow {
    width: 100px;
  }
}
.hold-interest-section .hold-interest-section__row_2 {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: -moz-fit-content;
  width: fit-content;
}
.hold-interest-section .hold-interest-section__row_2 .img-demonstration_1,
.hold-interest-section .hold-interest-section__row_2 .img-demonstration_2 {
  max-width: 157px;
  height: auto;
}
@media (min-width: 768px) {
  .hold-interest-section .hold-interest-section__row_2 .img-demonstration_1,
  .hold-interest-section .hold-interest-section__row_2 .img-demonstration_2 {
    max-width: none;
    width: 215px;
  }
}
@media (min-width: 1024px) {
  .hold-interest-section .hold-interest-section__row_2 .img-demonstration_1,
  .hold-interest-section .hold-interest-section__row_2 .img-demonstration_2 {
    width: 264px;
  }
}
@media (min-width: 1440px) {
  .hold-interest-section .hold-interest-section__row_2 .img-demonstration_1,
  .hold-interest-section .hold-interest-section__row_2 .img-demonstration_2 {
    width: 332px;
  }
}
.hold-interest-section .hold-interest-section__row_2 .img-demonstration_2 {
  display: none;
}
@media (min-width: 768px) {
  .hold-interest-section .hold-interest-section__row_2 .img-demonstration_2 {
    display: block;
  }
}

.build-trust-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0 10px 0;
  background: linear-gradient(0deg, rgb(134, 121, 178) 0%, rgb(91, 82, 158) 50%);
  gap: 10px;
}
@media (min-width: 768px) {
  .build-trust-section {
    padding: 50px 0 50px 0;
  }
}
.build-trust-section .content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.build-trust-section .build-trust_img {
  width: min(100%, 157px);
  height: auto;
}
@media (min-width: 768px) {
  .build-trust-section .build-trust_img {
    width: min(100%, 215px);
  }
}
@media (min-width: 1024px) {
  .build-trust-section .build-trust_img {
    width: min(100%, 264px);
  }
}
@media (min-width: 1440px) {
  .build-trust-section .build-trust_img {
    width: min(100%, 332px);
  }
}
.build-trust-section .build-trust__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 320px;
  line-height: 1.3;
  font-size: 14px;
}
@media (min-width: 768px) {
  .build-trust-section .build-trust__column {
    display: block;
    font-size: max(100%, 22px);
    max-width: 420px;
  }
}
@media (min-width: 1024px) {
  .build-trust-section .build-trust__column {
    font-size: max(100%, 28px);
  }
}
@media (min-width: 1440px) {
  .build-trust-section .build-trust__column {
    font-size: max(100%, 36px);
    max-width: 720px;
  }
}
.build-trust-section .build-trust__column .build-trust__column-text-1 {
  line-height: 1.3;
  width: 100%;
}
.build-trust-section .build-trust__column .description-box {
  z-index: 1;
  background-color: rgb(255, 255, 255);
  direction: column;
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  padding: 4px 10px 4px 10px;
  border-radius: 20px;
}
@media (min-width: 768px) {
  .build-trust-section .build-trust__column .description-box {
    padding: 6px 16px 6px 16px;
  }
}
@media (min-width: 1024px) {
  .build-trust-section .build-trust__column .description-box {
    padding: 6px 24px 6px 24px;
  }
}
@media (min-width: 1440px) {
  .build-trust-section .build-trust__column .description-box {
    padding: 6px 36px 6px 36px;
  }
}
.build-trust-section .build-trust__column .description-box .description-box__list {
  padding-left: 20px;
  line-height: 1.3;
  align-self: start;
  align-items: start;
  color: rgb(91, 82, 158);
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
@media (min-width: 768px) {
  .build-trust-section .build-trust__column .description-box .description-box__list {
    padding-left: 30px;
  }
}
@media (min-width: 1440px) {
  .build-trust-section .build-trust__column .description-box .description-box__list {
    padding-left: 40px;
  }
}
.build-trust-section .build-trust__column .description-box .description-box__list .list__text {
  font-size: min(100%, 14px);
}
@media (min-width: 768px) {
  .build-trust-section .build-trust__column .description-box .description-box__list .list__text {
    font-size: max(100%, 22px);
  }
}
@media (min-width: 1024px) {
  .build-trust-section .build-trust__column .description-box .description-box__list .list__text {
    font-size: max(100%, 28px);
  }
}
@media (min-width: 1440px) {
  .build-trust-section .build-trust__column .description-box .description-box__list .list__text {
    font-size: max(100%, 36px);
  }
}
.build-trust-section .build-trust__column .build-trust__column-text-2 {
  display: none;
  line-height: 1.3;
  width: 100%;
}
@media (min-width: 768px) {
  .build-trust-section .build-trust__column .build-trust__column-text-2 {
    display: block;
  }
}
.build-trust-section .build-trust__column .build-trust__background-img {
  position: absolute;
  z-index: 0;
  max-width: 100px;
  opacity: 0.5;
  margin-top: -40px;
  margin-right: -80px;
  transform: rotate(10deg);
  align-self: center;
}
@media (min-width: 768px) {
  .build-trust-section .build-trust__column .build-trust__background-img {
    max-width: 150px;
    margin-top: -60px;
    margin-right: -100px;
  }
}
@media (min-width: 1024px) {
  .build-trust-section .build-trust__column .build-trust__background-img {
    max-width: 200px;
    margin-top: -60px;
    margin-right: -120px;
  }
}
@media (min-width: 1440px) {
  .build-trust-section .build-trust__column .build-trust__background-img {
    max-width: 200px;
    margin-top: -60px;
    margin-right: -160px;
  }
}
.build-trust-section .build-trust__bottom-text {
  padding-left: min(100%, 40px);
  padding-right: min(100%, 40px);
  font-size: min(100%, 14px);
  text-align: center;
}
@media (min-width: 768px) {
  .build-trust-section .build-trust__bottom-text {
    display: none;
  }
}

.desire-section {
  min-height: 377px;
  width: 100%;
  background: rgb(134, 121, 178);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0 50px 0 50px;
}
.desire-section .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .desire-section .content {
    padding-bottom: 28px;
  }
}
@media (min-width: 768px) {
  .desire-section .content {
    padding-bottom: 38px;
  }
}
.desire-section .desire-section__text {
  font-size: max(100%, 18px);
  justify-self: center;
}
@media (min-width: 768px) {
  .desire-section .desire-section__text {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  .desire-section .desire-section__text {
    font-size: 38px;
  }
}
@media (min-width: 1440px) {
  .desire-section .desire-section__text {
    font-size: 48px;
  }
}
.desire-section .desire-section__game_icons {
  z-index: 1;
  width: 100%;
  position: absolute;
  display: flex;
  justify-self: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
@media (min-width: 768px) {
  .desire-section .desire-section__game_icons {
    padding: 50px 0 0 0;
  }
}
.desire-section .game-icon-1 {
  display: block;
  padding-right: 30px;
  padding-top: 50px;
  width: 30%;
  opacity: 0.5;
}
@media (min-width: 768px) {
  .desire-section .game-icon-1 {
    padding-right: 0;
    padding-top: 0;
    width: 150px;
  }
}
@media (min-width: 1024px) {
  .desire-section .game-icon-1 {
    padding-right: 0;
    padding-top: 0;
    width: 200px;
  }
}
.desire-section .game-icon-2 {
  display: none;
}
@media (min-width: 768px) {
  .desire-section .game-icon-2 {
    display: block;
    width: 150px;
    opacity: 0.5;
  }
}
@media (min-width: 1024px) {
  .desire-section .game-icon-2 {
    padding-right: 0;
    padding-top: 0;
    width: 200px;
  }
}
.desire-section .desire-section__reviews {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  align-items: center;
}
.desire-section .desire-section__reviews #review_1 {
  z-index: 2;
  grid-column: 1/5;
  grid-row: 1/6;
}
.desire-section .desire-section__reviews #review_2 {
  z-index: 2;
  grid-column: 1/5;
  grid-row: 7/-1;
}
.desire-section .desire-section__reviews #review_3 {
  z-index: 2;
  grid-column: 6/-1;
  grid-row: 3/7;
  width: 90%;
}
@media (min-width: 768px) {
  .desire-section .desire-section__reviews {
    gap: 30px;
    display: flex;
    flex-direction: row;
  }
  .desire-section .desire-section__reviews #review_1 {
    flex: 1;
    min-width: 0;
    order: 1;
    align-self: flex-start;
  }
  .desire-section .desire-section__reviews #review_2 {
    flex: 1;
    min-width: 0;
    order: 3;
    align-self: flex-start;
  }
  .desire-section .desire-section__reviews #review_3 {
    flex: 1;
    min-width: 0;
    order: 2;
    align-self: flex-end;
    padding-top: 30px;
  }
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(0deg, rgb(80, 63, 146) 0%, transparent 10%), url("../images/hero_bg.png") center/cover no-repeat;
}
@media (min-width: 768px) {
  .about-us {
    padding-top: 100px;
  }
}
.about-us .about-us__block {
  padding-bottom: 20px;
}
.about-us ul {
  margin: 0;
}
.about-us li {
  font-family: "Ruboto Slab", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}
@media (min-width: 768px) {
  .about-us li {
    font-size: 16px;
  }
}
.about-us h3 {
  margin: 0;
  text-shadow: none;
  font-size: 20px;
}
@media (min-width: 768px) {
  .about-us h3 {
    font-size: 24px;
  }
}
.about-us p {
  margin: 0;
  font-weight: 400;
  text-shadow: none;
  font-size: 14px;
}
@media (min-width: 768px) {
  .about-us p {
    font-size: 16px;
  }
}

.games-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(0deg, rgb(80, 63, 146) 0%, transparent 10%), url("../images/hero_bg.png") center/cover no-repeat;
}
@media (min-width: 768px) {
  .games-info {
    padding-top: 100px;
  }
}
.games-info .games-block {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .games-info .games-block {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 220px);
    gap: 40px;
  }
}
@media (min-width: 1440px) {
  .games-info .games-block {
    gap: 50px;
  }
}
.games-info .game-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
.games-info .game-card .game-card__info {
  display: flex;
  direction: column;
  flex-wrap: wrap;
  align-items: center;
}
@media (min-width: 768px) {
  .games-info .game-card .game-card__info {
    display: block;
  }
}
.games-info .game-card .game-card__img {
  width: 40%;
}
@media (min-width: 1024px) {
  .games-info .game-card .game-card__img {
    width: 30%;
  }
}
.games-info #card-2,
.games-info #card-4 {
  flex-direction: row-reverse;
}
.games-info #card-2 .game-card__info,
.games-info #card-4 .game-card__info {
  justify-content: flex-end;
}
.games-info #card-2 .game-card__info .title,
.games-info #card-4 .game-card__info .title {
  text-align: end;
}
.games-info #card-2 .game-card__info .description,
.games-info #card-4 .game-card__info .description {
  text-align: end;
}
@media (min-width: 768px) {
  .games-info #card-2,
  .games-info #card-4 {
    flex-direction: row;
  }
  .games-info #card-2 .game-card__info,
  .games-info #card-4 .game-card__info {
    justify-content: flex-start;
  }
  .games-info #card-2 .game-card__info .title,
  .games-info #card-4 .game-card__info .title {
    text-align: start;
  }
  .games-info #card-2 .game-card__info .description,
  .games-info #card-4 .game-card__info .description {
    text-align: start;
  }
}
@media (min-width: 1024px) {
  .games-info #card-5 {
    justify-self: center;
    grid-column: 1/3;
    width: 50%;
  }
}
.games-info h3 {
  margin: 0;
  margin-bottom: 10px;
  text-shadow: none;
  font-size: 24px;
}
.games-info p {
  margin: 0;
  font-weight: 500;
  text-shadow: none;
  font-size: 14px;
}
@media (min-width: 768px) {
  .games-info p {
    font-size: 16px;
  }
}

.footer {
  height: 140px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
  background: linear-gradient(0deg, rgb(103, 90, 154) 50%, rgb(134, 121, 178) 100%);
  gap: 20px;
}
@media (min-width: 768px) {
  .footer {
    height: 192px;
    position: static;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .footer {
    height: 198px;
  }
}
@media (min-width: 1440px) {
  .footer {
    height: 394px;
  }
}
.footer .btn {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
.footer .balloons-img {
  height: 50%;
  width: auto;
  bottom: 0;
  right: 0;
  padding-top: 12px;
  position: absolute;
  z-index: 1;
}
@media (min-width: 768px) {
  .footer .balloons-img {
    align-self: flex-end;
    position: static;
    height: 154px;
  }
}
@media (min-width: 1024px) {
  .footer .balloons-img {
    height: 176px;
  }
}
@media (min-width: 1440px) {
  .footer .balloons-img {
    height: 216px;
  }
}
.footer .footer__text {
  margin: 0;
  position: relative;
  font-size: max(100%, 24px);
  line-height: 1.6;
}
@media (min-width: 768px) {
  .footer .footer__text {
    font-size: 42px;
  }
}
@media (min-width: 1024px) {
  .footer .footer__text {
    font-size: 54px;
  }
}
@media (min-width: 1440px) {
  .footer .footer__text {
    font-size: 68px;
  }
}

.footer__about-us,
.footer__games {
  background: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(80, 63, 146);
}

main {
  flex: 1;
  margin-top: -100px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: rgb(255, 255, 255);
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

p,
h1,
h2,
h3 {
  line-height: 1.5;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

a {
  color: rgb(255, 255, 255);
  font-family: "Rubik Mono One", sans-serif;
  text-decoration: none;
}

li {
  font-family: "Rubik Mono One", sans-serif;
}

.btn {
  max-width: 144px;
  max-height: 72px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 71, 87);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 6px 10px;
}
.btn img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .btn {
    max-width: none;
    max-height: none;
    width: 204px;
    height: 104px;
    padding: 12px 24px;
  }
}
@media (min-width: 1024px) {
  .btn {
    width: 238px;
    height: 122px;
  }
}
@media (min-width: 1440px) {
  .btn {
    width: 252px;
    height: 126px;
  }
}

.main__logo {
  display: flex;
  height: 70px;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 18px;
}
.main__logo img {
  height: 32px;
}
@media (min-width: 768px) {
  .main__logo {
    display: none;
  }
}

.tilted-icon {
  display: inline-block;
  transform: rotate(18deg);
  transform-origin: bottom left;
}/*# sourceMappingURL=main.css.map */