@use '../../mixins/_mixin_responsive' as *;
@use '../../variables/_dimensions' as *;
@use '../../abstract/_colors' as *;

.build-trust-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Rubik", sans-serif;
    background-color: $build-trust-color-2;
    align-items: center;
    justify-self: center;
    font-size: 14px;
    text-align: start;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: 700;
    color: $text-color;

    @include responsive('tablet-portrait') {
        font-size: 22px;
    }

    @include responsive('tablet-landscape') {
        font-size: 28px;
    }

    @include responsive('desktop') {
        font-size: 36px;
    }
}

.build-trust-section-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.build-trust-section-content .description {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: center;
}


.build-trust-section-content .description .games-list {
    background-color: $text-color;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "Roboto Slab", serif;
    font-size: 14px;
    color: $primary-color;

    @include responsive('tablet-portrait') {
        font-size: 22px;
    }

    @include responsive('tablet-landscape') {
        font-size: 28px;
    }

    @include responsive('desktop') {
        font-size: 36px;
    }
}