$primary-color: #503F92;
$accent-color: #FF4757;
$burger-color: #674CBD;
$hold-interest-color-1: #ADA2D8;
$hold-interest-color-2: #5B519C;
$build-trust-color-1: #5B529E;
$build-trust-color-2: #8679B2;
$desire-section: #8679B2;
$footer-color-1: #675A9A;
$footer-color-2: #8679B2;
$text-color: #FFFFFF;