// @font-face {
//     font-family: 'Rubik One';
//     src: url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Mono+One&display=swap');
// }

// @font-face {
//     font-family: 'Rubik';
//     src: url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Rubik+Mono+One&display=swap');
// }

// @font-face {
//     font-family: 'Roboto Slab';
//     src: url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
// }