@use '../../mixins/_mixin_responsive' as *;
@use '../../variables/_dimensions' as *;
@use '../../abstract/_colors' as *;

.hold-interest-section {
    width: 100%;
    display: flex;
    background-color: $hold-interest-color-1;
    padding-left: $content-padding-horizontal;
    padding-right: $content-padding-horizontal;
    padding-bottom: 60px;
    flex-direction: column;
    align-items: center;

    @include responsive('tablet-portrait') {
        height: 558px;
        padding-bottom: 200px;
    }

    @include responsive('tablet-landscape') {
        height: 768px;
        padding-bottom: 200px;
    }

    @include responsive('desktop') {
        height: 928px;
        padding-bottom: 200px;
    }
}

.hold-interest-section-content {
    width: 90%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.hold-interest-section-content .title {
    font-family: "Rubik", sans-serif;
    font-size: 24px;
    margin-top: 40px;
    margin-bottom: 20px;
    align-self: start;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

    @include responsive('tablet-portrait') {
        font-size: 36px;
        margin-top: 60px;
        margin-bottom: 30px;
    }

    @include responsive('tablet-landscape') {
        font-size: 40px;
        margin-top: 70px;
        margin-bottom: 35px;
    }

    @include responsive('desktop') {
        font-size: 48px;
        margin-top: 80px;
        margin-bottom: 40px;
    }
}

.hold-interest-section-content .description {
    display: flex;
    flex-direction: row;
}

#social_media_img {
    height: 70px;

    @include responsive('tablet-portrait') {
        height: 300px;
    }

    @include responsive('tablet-landscape') {
        height: 300px;
    }

    @include responsive('desktop') {
        height: 300px;
    }
}

.mobile_screen_img {
    height: 60%;
    
    @include responsive('tablet-portrait') {
        height: 500px;
    }

    @include responsive('tablet-landscape') {
        height: 700px;
    }

    @include responsive('desktop') {
        height: 800px;
    }
}