@use '../../mixins/_mixin_responsive' as *;
@use '../../variables/_dimensions' as *;
@use '../../abstract/_colors' as *;

footer {
    background-color: $footer-color-1;
    padding: $content-padding-vertical $content-padding-horizontal;
    font-family: "Rubik", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    @include responsive('tablet-portrait') {
        font-size: 30px;
        // height: 192px;
    }

    @include responsive('tablet-landscape') {
        font-size: 40px;
        // height: 198px;
    }

    @include responsive('desktop') {
        font-size: 48px;
        // height: 394px;
    }
}

footer img {
    width: 65px;

    @include responsive('tablet-portrait') {
        width: 130px;
    }

    @include responsive('tablet-landscape') {
        width: 175px;
    }

    @include responsive('desktop') {
        width: 215px;
    }
}