@use '../../mixins/_mixin_responsive' as *;

.header {
    display: flex;
    width: 100%;
    object-fit: contain;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    @include responsive('tablet-portrait') {
        height: 78px;
    }

    @include responsive('tablet-landscape') {
        height: 87px;
    }

    @include responsive('desktop') {
        height: 122px;
    }
}

.header .logo-section {
    display: flex;
    height: 100%;
    width: 155px;
    flex-direction: row;
    justify-self: start;
    align-items: start;
    // flex-wrap: wrap;
    gap: 20px;
}

.header .logo-section .logo {
    height:100%;
}

.header .logo-section .logo img {
    height: auto;
    max-height: 40%;
    object-fit: contain;

    @include responsive('tablet-portrait') {
        max-height: 50%;
    }

    @include responsive('tablet-landscape') {
        max-height: 40%;
    }

    @include responsive('desktop') {
        max-height: 40%;
    }
}

.header .icon {
    display: none;
    height: 90%;

    @include responsive('tablet-portrait') {
        display: none;
    }

    @include responsive('tablet-landscape') {
        display: block;
    }

    @include responsive('desktop') {
        display: block;
    }
}