@use '../../mixins/_mixin_responsive' as *;

.hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.hero img {
    height: 208px;
    width: 340px;
    align-self: center;

    @include responsive('tablet-portrait') {
        height: 412px;
        width: 680px;
    }

    @include responsive('tablet-landscape') {
        height: 420px;
        width: 688px;
    }

    @include responsive('desktop') {
        height: 528px;
        width: 866px;
    }
}

.hero .title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;

    @include responsive('tablet-portrait') {
        font-size: 34px;
    }

    @include responsive('tablet-landscape') {
        font-size: 38px;
    }

    @include responsive('desktop') {
        font-size: 46px;
    }
}

.hero .title-description {
    font-family: "Roboto Slab", serif;
    align-self: end;
    width: 40%;
    font-size: 14px;

    @include responsive('tablet-portrait') {
        font-size: 22px;
    }

    @include responsive('tablet-landscape') {
        font-size: 22px;
    }

    @include responsive('desktop') {
        font-size: 28px;
    }
}

.hero .call-to-action-text {
    font-family: "Roboto Slab", serif;
    text-decoration-line: underline;
    align-self: end;
    text-align: end;
    margin-right: 40px;
    font-size: 14px;

    @include responsive('tablet-portrait') {
        align-self: start;
        text-align: start;
        font-size: 24px;
    }

    @include responsive('tablet-landscape') {
        align-self: start;
        text-align: start;
        font-size: 28px;
    }

    @include responsive('desktop') {
        align-self: start;
        text-align: start;
        font-size: 28px;
    }
}