@use '../../abstract/_colors' as *;
@use '../../mixins/_mixin_responsive' as *;

.nav-bar {
    display: none;
    gap: 20px;
    justify-self: end;
    align-items: center;
    flex-direction: row;

    @include responsive('tablet-portrait') {
        display: flex;
        height: 78px;
        width: 100%;
        padding-right: 80px;
        max-width: 324px;
        flex-wrap: wrap;
        justify-content: end;
        flex-direction: row;
    }

    @include responsive('tablet-landscape') {
        width: 100%;
        padding-right: 80px;
        max-width: none;
        justify-content: end;
        display: flex;
        height: 87px;
    }

    @include responsive('desktop') {
        width: auto;
        padding-right: 200px;
        max-width: none;
        justify-content: end;
        align-items: center;
        align-self: center;
        display: flex;
        height: 122px;
    }
}

.burger-menu {
    display: block;
    align-self: start;
    padding-right: 26px;

    @include responsive('tablet-portrait') {
        display: none;
    }
    @include responsive('tablet-landscape') {
        display: none;
    }
    @include responsive('desktop') {
        display: none;
    }
}