@use '../mixins/_mixin_responsive' as *;

$content-padding-horizontal: 15px;
$content-padding-vertical: 15px;

@include responsive('tablet-portrait') {
    $content-padding-horizontal: 27px;
    $content-padding-vertical: 28px;
}
@include responsive('tablet-landscape') {
    $content-padding-horizontal: 26px;
    $content-padding-vertical: 22px;
}
@include responsive('desktop') {
    $content-padding-horizontal: 135px;
    $content-padding-vertical: 38px;
}

// .content-section {
//     width: 100%;
//     height: 100%;
//     // margin-left: 15px;
//     // margin-right: 15px;
//     // margin-top: 28px;

//     @include responsive('tablet-portrait') {
//         // margin-left: 27px;
//         // margin-right: 27px;
//         // margin-top: 28px;
//     }

//     @include responsive('tablet-landscape') {
//         // margin-left: 26px;
//         // margin-right: 26px;
//         // margin-top: 22px;
//     }

//     @include responsive('desktop') {
//         // margin-left: 135px;
//         // margin-right: 135px;
//         // margin-top: 38px;
//     }
// }